.insights-container {
  background-color: #ffffff;
  margin: 50px 50px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-family: monospace;
  box-shadow: 2px 2px 1px 2px rgb(207, 207, 207);

  .insights-zooTools {
    margin: 30px 10px 40px 20px;
    min-width: 450px;
  }
  .insights-heading {
    margin-left: 25px;
    margin-bottom: 2px;
  }
  .insights-paragraph {
    margin-left: 25px;
    margin-top: 2px;
  }
  .summary {
    margin-left: 25px;
    margin-top: 35px;
  }
  .summary-list {
    list-style: none;
    padding-left: 25px;
  }
  .summary-list-item {
    display: flex;
    // justify-content: space-between;
  }
  .bulb {
    background-color: red;
    border-radius: 2px;
    height: 28px;
    width: 27px;
  }

  .summary-list-item-para {
    text-align: end;
    margin-left: 15px;
  }

  .recommendation {
    margin: 30px auto;
  }
  .recommendation-heading {
    margin-top: 95px;
  }
  .recommendation-line-1 {
    margin-top: 5px;
  }
  .recommendation-line-2 {
    line-height: 45px;
  }
}
